[submodule "vimfiles/bundle/vim-pathogen"]
	path = vimfiles/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/unite.vim"]
	path = vimfiles/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vimfiles/bundle/zencoding-vim"]
	path = vimfiles/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vimfiles/bundle/neocomplcache"]
	path = vimfiles/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/QuickBuf"]
	path = vimfiles/bundle/QuickBuf
	url = https://github.com/vim-scripts/QuickBuf.git
[submodule "vimfiles/bundle/quickrun"]
	path = vimfiles/bundle/quickrun
	url = https://github.com/ujihisa/quickrun.git
[submodule "vimfiles/bundle/vim-textobj-user"]
	path = vimfiles/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vimfiles/bundle/vim-textobj-indent"]
	path = vimfiles/bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "vimfiles/bundle/grep.vim"]
	path = vimfiles/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "vimfiles/bundle/unite-grep"]
	path = vimfiles/bundle/unite-grep
	url = https://github.com/Sixeight/unite-grep.git
[submodule "vimfiles/bundle/unite-outline"]
	path = vimfiles/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "vimfiles/bundle/unite-tags"]
	path = vimfiles/bundle/unite-tags
	url = https://github.com/thinca/unite-tags.git
