
/vim73
/_sample_gvimrc
/_sample_vimrc
/diff.exe
/gvim.exe
/gvimext.dll
/gvimrc
/iconv.dll
/install.exe
/libintl.dll
/uninstal.exe
/vim.exe
/vimrc
/vimrun.exe
/vimtbar.dll
/vimtutor.bat
/xxd.exe
/vimfiles/pluginjp
